<header class="navbar">
  <div class="logo">PLOT<span>TOSHA</span></div>
  <ul class="nav-links desktop">
    <li><a href="/">Home</a></li>
    <li><a href="/lands">Land Listings</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login" class="btn-outline">Login</a></li>
    <li><a href="/register" class="btn">Register</a></li>
  </ul>
  <div class="hamburger" id="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="overlay" class="overlay-bg hide" onclick="toggleMenu()">
    <ul class="nav-links" id="mobileMenu">
      <li><a href="/">Home</a></li>
      <li><a href="/lands">Land Listings</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/login" class="btn-outline">Login</a></li>
      <li><a href="/register" class="btn">Register</a></li>
    </ul>
  </div>
</header>